/* Write your code here: */
h1,h2{
    color: blueviolet;
}

div>.done{
    color: firebrick;
}

.box li{
    color: blue;
}

li.done{
    color: green;
}

/* ancend slector chaning selecto   */
ul p.done{

    font-size: 0.5rem;

}