body{
    background-color: black;
}
h1{
    color: aliceblue;
    text-transform: uppercase;
    

}
div{
    text-align: center;
    align-items: center;
    margin-left: 25%;
    width: 50%;

    
}
img{
    border: 5px solid white;
    margin-top: 5%;
    width: 100%;
    
    
}
p{
    color: aliceblue;
}